__pycache__
.ttf
.venv
venv.bat
.idea
.vscode
.html
.db
test/
data/html/
data/logs/
data/capture/
data/htdocs/capture/
data/htdocs/tabler-dev/
data/htdocs/smarty/templates_c/
data/htdocs/html_diff/
.idea
build
*.exe
*.spec
